/*
  ========================================
  Custom styles
  ========================================
*/
body {
    color: #888;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #181d23;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

/*
    ========================================
    Grid
    ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  zoom: 1;
}

/*
    ========================================
    Typeography
    ========================================
*/
h1, h2, h3, h4, p {
    margin-bottom: 22px;
}

h1, h2, h3, h4 {
    color: #000000;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 14px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

em {
    font-weight: 700;
}

/*
  ========================================
  Links
  ========================================
*/
a {
    color: #fae1be;
    text-decoration: none;
}

a:hover {
    color: #faeddb;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

/*
    ========================================
    Header
    ========================================
*/
.logo {
    border-top: 4px solid #fae1be;
    float: left;
    font-size: 48px;
    line-height: 0;
    padding: 5px 0 20px 0;
}

.logo h1, h5 {
    color: #fae1be;
}

header {
    margin-bottom: 44px;
    background-color: #181d23;
}

/*
    ========================================
    Nav
    ========================================
*/
.primary-nav {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 60px 0 0 0;
}

.nav {
    text-align: right;
}

/*
    ========================================
    Footer
    ========================================
*/
.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 20px;
    background-color: #181d23;
}

.primary-footer small {
    float: left;
    font-weight: 400;
    color: #fae1be;
}

.primary-footer nav {
    padding-top: 5px;
}

/*
    ========================================
    Main
    ========================================
*/
.main {
    background: #fff;
    padding-bottom: 40px;
}

#LatestReviews {
    margin: 0 auto;
    display: block;
    width: 960px;
    background-image: url("../Graphics/TitleImageSkinny.png");
    background-size: 960px;
    background-repeat: no-repeat;
    padding: 150px 0 10px 0;
    margin-bottom: 30px;
    border-radius: 5px;
}

#LatestReviews h1 {
    margin: 0 auto;
    display: block;
    width: 960px;
    font-size: 80px;
    line-height: 44px;
    color: #ffffff;
}

.reviewHeader {
    margin-bottom: 22px;
}

.bookInfo li {
    display: inline;
}

.titleAndAuthor h3, h4 {
    display: inline;
}

.reviewBody {
    color: #000000;
}